<table style='width:100%'>
    <tr>
        <td style='width:70%'><h2>{{title}}</h2></td>
        <td>{{clock.hour}}:{{clock.minute}}:{{clock.second}}</td>
        <td><div {{action "action"}} style="cursor:pointer" class="detail">{{actionName}}</div></td>
    </tr>
</table>
{{yield}}